<%- include('partials/header.ejs') %>

  <%- include('partials/heropartial.ejs') %>


    <%- include('partials/servicepartial.ejs') %>

      <%- include('partials/planpartial.ejs') %>

        <%- include('partials/teampartial.ejs') %>

          <!-- Email Section -->
          <div class="email">
            <!-- https://player.vimeo.com/external/559560916.sd.mp4?s=05910a54129d4b5e0fc0e30670226757661fa74f&profile_id=164&oauth2_token_id=57447761 -->
            <!-- <video autoplay muted loop class="video-background">
      <source
        src="https://player.vimeo.com/external/559560916.sd.mp4?s=05910a54129d4b5e0fc0e30670226757661fa74f&profile_id=164&oauth2_token_id=57447761"
        type="video/mp4">

      Your browser does not support the video tag.
    </video> -->
            <div class="dark-overlay"></div> <!-- New overlay div -->
            <div class="email__content">
              <h1 class="an-email">Get Access to Members Only Perks</h1>
              <p class="an-email">
                Sign up for our newsletter below to get $50 off your first solo trip!
              </p>
              <form id="subscribeForm" class="an-email" action="/subscribe" method="post">
                <div class="form__wrap">
                  <label for="email">
                    <input id="emailInput" type="email" name="email" placeholder="Enter your email" required />
                  </label>
                  <button id="subscribeButton" class="button" type="submit">Subscribe</button>
                </div>
              </form>
            </div>
          </div>


          <%- include('partials/footer.ejs') %>